.container {
    width: 49%;
    min-width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
.containerImg {
    height: 440px;
    width: 100%;
    object-fit: cover;
}
.details {
    margin-top: 15px;
}
.tools span {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    margin-right: 14px;
}
.tools span::before {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #fff;
    margin-right: 5px;
}
.details h2 {
    margin: 15px 0;
    font-family: 'Caudex', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.details a {
    font-weight: 500;
    color: #12FCB6;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.details a img {
    margin-left: 10px;
}
.details p {
    color: #909090;
    line-height: 200%;
}
